appdirs==1.4.4
asgiref==3.2.10
distlib==0.3.1
Django==3.1.1
django-ckeditor==6.0.0
django-filter==2.3.0
django-hosts==4.0
django-js-asset==1.2.2
django-richtextfield==1.6
django-subdomains==2.1.0
filelock==3.0.12
--extra-index-url https://dl.fontawesome.com/873C109B-B345-432A-A579-978C4E652BAC/fontawesome-pro/python/simple/
fontawesome-pro==5.15.3
Pillow==7.2.0
psycopg2-binary==2.8.6
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.31