{% extends 'Global/templates/global/navigation.html' %}

{% load static %}

{% block content %}
<!-- Course Detail Content -->
<section class='col-md-11 mx-auto d-block py-5 shadow-lg'>

    <!-- Course Detal Header -->
    <div class='container-fluid my-5 text-center'>
        <h1 class='headertxt'>{{ course_det.course_Abbr }} {{ course_det.course_Number }}</h1>
    </div>

    <!-- Course Detail Body -->
    <div class='container col-md-10' id='description'>
        <h4 class='title mb-0'>{{ course_det.course_Name }}</h4>
        <small class='annotation'>{{ course_det.course_Degree }}</small>
        <hr />
        <p>
            {{ course_det.course_Description }}
        </p>
    </div>

    <div class='container mt-5'>
        <span class='small text-muted'>
            Disclaimer: The institution image(s) and crest(s) are used on this page solely for the purpose of visual identification and representing prior educational experience with the institutions(s). I hold no claims to the intellectual property of the institution(s), nor speak for, represent, or hold business partnerships or relationships with said institution(s) unless otherwise indicated.
        </span>
    </div>

</section>
{% endblock content %}