<!doctype html>
<html lang='en'>

<head>
    {% load static %}

    <!-- Address Field-->
    <link rel='shortcut icon' type='image/x-icon' href='{% static "resume/images/fav.ico" %}'>

    <!-- Tab Field -->
    <title>Eoghan Hulbert @ The Hulbert Files</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta property='og:image'  content='{% static "resume/images/BW.png" %}'>
    <meta name='description' content='This site is foremost a dedicated electronic portfolio for Eoghan Hulbert.'>
    <meta name='keywords'
        content='Portfolio, Resume, Computer Science, Information Technology, JAVA, OOP, JavaScript, Database Management, Web Application, PHP, Cyber Security'>
    <meta name='author' content='Eoghan Hulbert'>

    <!-- JS -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
        integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
        integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
        crossorigin='anonymous'></script>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
        integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'
        integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T'
        crossorigin='anonymous'></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='{% static "resume/css/resume.css" %}' type='text/css'>

    <!-- Fonts -->
    <script src="{% static 'fontawesome_pro/js/all.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/cf7ab582b3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Hind+Siliguri:wght@300;400;500;600&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class='navbar navbar-expand-lg navbar-dark shadow-lg'>
            <!-- Brand -->
            <img class='my-2 mx-auto' src='{% static "resume/images/wtp.png" %}' height='100' alt='The Hulbert Files'>
    </nav>

    {% block content %}{% endblock content %}

    <footer class='mt-3 sticky-bottom'>
        <div class='container inner'>
            <small>
                Copyright © 2018 &ndash; {% now "Y" %} The Hulbert Files
            </small>
        </div>
    </footer>

</body>

</html>